*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header
{
    height: 3vh;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header #container
{
    padding: 1%;
    height: 27px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container #links
{
    display: flex;
    justify-content: center;
    align-items: center;
}

header #container::after
{
    margin-left: 10.3%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    position: absolute;
    content: "";
    height: 1px;
    width: 70%;
    background: #777;
}

#container a
{
    position: relative;
    text-decoration: none;
    padding-right: 4%;
    padding-left: 4%;
    font-family: 'poppins',sans-serif;
    letter-spacing: 0.3px;
    font-weight: 300;
    color: #000;
    transition: 0.7s ease-in-out;
    position: relative;
}

@media screen and (max-width: 700px)
{
    #container a
    {
        padding-left: 3%;
        padding-right: 3%;
        transition: 0.3s ease-in-out;
    }
}

#container a:nth-child(1), #container a:nth-child(2)
{
    border-right: 1px solid #777;
}

#container a::after
{
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    background-color: #000;
    transition: 0.3s ease-in-out;
}

#container a:nth-child(1):hover::after
{
    width: 45px;
}

#container a:nth-child(2):hover::after
{
    width: 67px;
}

#container a:nth-child(3):hover::after
{
    width: 63px;
}

header #translate
{
    height: 27px;
    width: 27px;
    margin-top: 5.7px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}

header #translate:hover
{
    cursor: pointer;
    border: 1px solid;
    border-radius: 4.9px;
    transition: 0.3s ease-in-out;
}

section #container #title
{
    font-family: 'poppins',sans-serif;
    font-weight: 300;
    width: 500px;
    font-size: 37px;
    margin-left: 3%;
    transition: 0.3s ease-in-out;
}

@media screen and (max-width: 700px)
{
    #container #title-box h1
    {
        width: 400px;
        font-size: 27px;
        transition: 0.3s ease-in-out;
        margin-left: 3%;
    }
}

@media screen and (min-width: 701px) and (max-width: 100px)
{
    #container #title-box h1
    {
        width: 500px;
        font-size: 37px;
        margin-left: 3%;
        transition: 0.3s ease-in-out;
    }
}

section #container #title-box #upertitle h3
{
    font-family: 'poppins',sans-serif;
    font-weight: 300;
    width: 500px;
    font-size: 21px;
    margin-top: 7px;
    margin-left: 3%;
    margin-bottom: 4.9px;
    transition: 0.3s ease-in-out;
}
